@import 'https://unpkg.com/open-props' layer(demo.support);
@import 'https://unpkg.com/open-props/normalize.dark.min.css'
  layer(demo.support);
@import 'https://unpkg.com/open-props/buttons.dark.min.css' layer(demo.support);
@import 'https://unpkg.com/open-props/oklch-hues.min.css' layer(demo.support);
@import 'https://unpkg.com/open-props/colors-oklch.min.css' layer(demo.support);

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Inter', sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
}

nav {
  padding-block: var(--size-4);
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* padding-inline: var(--size-fluid-4); */
  padding-inline: clamp(1rem, 4vw, 3rem);
}

.btn-custom {
  --color-hue: var(--hue-indigo);
  --_bg: linear-gradient(var(--color-5), var(--color-7));
  --_border: var(--color-6);
  --_text: var(--color-0);
  --_ink-shadow: 0 1px 0 var(--color-9);
  --_size: var(--font-size-3);

  & svg {
    fill: var(--text-1);
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--size-relative-2);

  font-size: var(--font-size-5);

  .icon {
    fill: white;
    inline-size: var(--size-relative-10);
  }

  .logo-text {
    display: flex;
    flex-direction: column;
    color: white;
    line-height: var(--font-lineheight-0);
    font-weight: var(--font-weight-7);
  }
}

.search-container {
  min-block-size: 80dvh;
  inline-size: min(80vw, 720px);

  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: var(--size-fluid-4);

  & input {
    padding-block: var(--size-2);
    inline-size: 100%;
  }

  .result {
    display: grid;
    place-content: center;
  }

  .search-controller {
    display: flex;
    justify-content: space-between;
  }
}

button[type='submit'] svg {
  fill: currentColor;
}

main {
  position: relative;
  display: grid;
  place-content: center;
  padding-inline: var(--size-fluid-4);
  justify-items: center;
  background: var(--gradient-17);

  & h1 {
    text-align: center;
    font-size: clamp(4rem, 7vw, 7.5rem);
    max-inline-size: 18ch;
  }
}
