@layer library, reset, base, components, layout, utilities;
@import 'https://unpkg.com/open-props@2.0.0-beta.5' layer(library);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@layer reset {

    *,
    ::before,
    ::after {
        box-sizing: border-box;
    }

    :where(:not(dialog)) {
        margin: 0;
    }

    :where(html) {

        /* --motionOK */
        @media (prefers-reduced-motion: no-preference) {
            scroll-behavior: smooth;
        }
    }
}


@layer base {
    html {
        /* Open Props V2 Proposal for font variables: defining consistent typography styles */
        --headline-large: 400 2rem/2.5rem "Open Sans", Arial, Helvetica, sans-serif;
        --headline-small: 400 1.5rem/2rem "Open Sans", Arial, Helvetica, sans-serif;
        --label-large: 600 0.875rem/1.25rem "Open Sans", Arial, Helvetica, sans-serif;
        --label-medium: 600 0.75rem/1rem "Open Sans", Arial, Helvetica, sans-serif;
        --nav-block-size: 74px;
    }

    body {
        timeline-scope: --collection-section;
        min-block-size: 100dvb;
    }
}


@layer utilities {
    .container {
        inline-size: min(100%, 1128px);
        position: relative;
    }
}


@layer components {
    .common-btn {
        font: var(--label-medium);
        padding-block: var(--size-3);
        padding-inline: var(--size-5);
        min-inline-size: 2em;
        border: none;
        border-radius: var(--radius-1);
        color: black;
        text-decoration: none;
        display: inline-grid;
        gap: var(--size-1);
        place-items: center;
        transition: scale 0.2s var(--ease-1);

        &:hover {
            scale: 1.07;
        }

        &.filled {
            background-color: white;
        }

        &.outline {
            color: white;
            background-color: oklch(0 0 0 / 15%);
            backdrop-filter: blur(28px);
            border: var(--border-size-1) solid currentColor;
        }

    }


    .cta-link {
        text-decoration: none;
        font: var(--label-large);
        color: black;
        display: grid;
        grid-auto-flow: column;
        place-items: center;
        gap: 6px;


    }

    .cta-link-icon {
        inline-size: var(--size-3);
        block-size: var(--size-3);
        transition: rotate 0.5s var(--ease-1);


        .cta-link:hover & {
            rotate: 90deg;
        }
    }

}


/* =====Nav ==== */
@layer layout {
    .navbar {
        container-type: size;
        color: white;
        display: grid;
        place-items: center;
        position: fixed;
        inset-block-start: 0;
        inset-inline: 0;
        z-index: var(--layer-4);
        block-size: var(--nav-block-size);
        background-color: hsl(0 0 100 / 0%);
        padding-inline: var(--size-3);
        animation: fade-in linear both;
        animation-timeline: --collection-section;
        animation-range: entry 1% entry 25%;
    }

    @keyframes fade-in {
        to {
            background-color: white;
            color: black;

        }
    }



    .nav-wrap {
        display: grid;
        grid-auto-flow: column;
        place-items: center;
        justify-content: space-between;
    }

    .nav-contact-link {
        visibility: hidden;
        animation: appear linear both;
        animation-timeline: --collection-section;
        animation-range: entry 1% entry 25%;
        grid-column: 1;

        @media (width < 700px) {
            display: none;
        }
    }


    @keyframes appear {
        to {
            visibility: visible;
        }
    }

    .nav-actions {
        display: grid;
        grid-auto-flow: column;
        gap: var(--size-3);
        justify-self: end;
        grid-column: 3;

    }


    .nav-link {
        color: black;
        text-decoration: none;
        font: var(--label-large);
    }

    .nav-btn {
        inline-size: 2.25rem;
        block-size: 2.25rem;
        padding: var(--size-2);
        background: none;
        border: none;
        color: inherit;
        cursor: pointer;

        svg {
            block-size: auto;
            display: block;
            max-inline-size: 100%;
        }
    }

    .nav-logo {
        position: absolute;
        inline-size: 100%;
        z-index: var(--layer-2);
        transform: translateY(120px);
        color: hsl(0 0 100 / 32%);
        animation: adjust-logo linear both;
        animation-timeline: --collection-section;
        animation-range: entry 1% entry 25%;

        @media (width < 700px) {
            inset-inline-start: 0;
        }

    }

    @keyframes adjust-logo {
        to {
            transform: translateY(0);
            inline-size: 8rem;
            color: black;
        }
    }

}

/* =====hero section ==== */
@layer layout {
    .hero-section {
        block-size: max(600px, 100dvb)
    }

    .hero-wrapper {
        inline-size: 100%;
        block-size: 100%;
        background-color: white;
        display: grid;
        place-items: center;
        position: relative;
        padding-block-end: var(--size-9);
    }

    .hero-cta {
        align-self: end;
        display: grid;
        position: sticky;
        inset-block-end: 5.5rem;

    }

    .hero-cta-wrapper {
        display: grid;
        place-items: center;
        gap: var(--size-5);
    }

    .hero-title {
        font: var(--headline-large);
        text-align: center;
        color: white;

        @media (width < 700px) {
            font: var(--headline-small);
        }

    }

    .hero-visual {
        inline-size: 100%;
        block-size: 100%;
        background-color: white;
        position: absolute;
        inset: 0;
    }

    .hero-video {
        inline-size: 100%;
        block-size: 100%;
        object-fit: cover;
    }

}

/* =====collection section ==== */
@layer layout {
    .collection-section {
        view-timeline: --collection-section;
        min-block-size: 800px;
        background-color: white;
    }

    .collection-wrapper {
        display: grid;
        padding: var(--size-3);
        gap: var(--size-3);

        @media (width >=1128px) {
            grid-template-columns: 1fr 1fr;
        }
    }

    .collection-card {
        container-type: size;
        display: grid;
        min-block-size: 600px;
        background-color: white;
        position: relative;

        >* {
            grid-area: 1/1;
        }

        @media (width >=1128px) {
            aspect-ratio: var(--ratio-portrait);

        }

    }


    .collection-visual {
        background-color: white;
        inline-size: 100%;
        block-size: 100%;
        overflow: clip;
        view-timeline-axis: block;
    }

    .collection-img {
        inline-size: 100cqi;
        block-size: 100cqb;
        object-fit: cover;
        display: block;
        scale: 1.5;
        animation: reveal linear forwards;
        animation-timeline: view();
        animation-range: entry 1% entry 60%;

    }

    @keyframes reveal {
        to {
            scale: 1;
        }
    }

    .collection-meta {
        display: grid;
        place-items: center;
        align-content: space-between;
        padding-block: var(--size-10);

        .collection-fold & {
            grid-template-rows: 1fr auto 1fr;
        }
    }

    .collection-cta {
        align-self: end;
        display: grid;
        isolation: isolate;
    }

    .collection-cta-wrapper {
        display: grid;
        place-items: center;
        gap: var(--size-4);
    }

    .collection-title {
        font: var(--headline-large);
        color: white;

        @media (width < 700px) {
            font: var(--headline-small);
        }
    }


    .collection-sticky-cta {
        position: sticky;
        inset-block-end: var(--size-10);

    }

    .collection-sticky-cta-wrapper {
        margin-block-start: 20cqb;
    }


    .collection-category {
        background-color: oklch(1 0 0 / 10%);
        color: white;
        font: var(--label-large);
        backdrop-filter: blur(4px);
        border-radius: var(--radius-1);
        padding-block: var(--size-1);
        padding-inline: 0.75rem;

        .collection-fold & {
            align-self: start;
        }
    }

    .collection-fold {
        grid-column: 1/-1;

        @media (width >=1128px) {
            aspect-ratio: var(--ratio-widescreen);
        }
    }

}