@import 'https://unpkg.com/open-props' layer(demo.support);
@import 'https://unpkg.com/open-props/normalize.dark.min.css'
  layer(demo.support);
@import 'https://unpkg.com/open-props/buttons.dark.min.css' layer(demo.support);
@import 'https://unpkg.com/open-props/oklch-hues.min.css' layer(demo.support);
@import 'https://unpkg.com/open-props/colors-oklch.min.css' layer(demo.support);

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Inter', sans-serif;
}

.cards {
  --gap: var(--size-3);
  display: inline-block;
  text-align: center;

  text-wrap: balance;

  > a {
    min-block-size: 264px;
    display: inline-flex;
    flex-direction: column;
    color: var(--surface-1);
    text-decoration: none;
    padding: var(--size-3) var(--size-5);
    background-color: white;
    font-size: var(--font-size-1);
    border-radius: var(--radius-3);
    margin: var(--gap);
    text-align: center;
    inline-size: 220px;
    border: var(--border-size-1) solid transparent;
    transition: 0.2s ease;
    &:hover {
      border-color: var(--surface-1);
    }
  }

  & svg {
    color: var(--gray-7);

    border: var(--border-size-2) solid var(--gray-7);
    border-radius: var(--radius-round);
    padding: var(--size-2);
    opacity: 0.8;
  }

  & dt {
    color: var(--surface-1);
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    gap: var(--gap);
  }

  & dd {
    margin-block-start: var(--gap);
    color: var(--gray-7);
  }
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
}

nav {
  padding-block: var(--size-4);
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* padding-inline: var(--size-fluid-4); */
  padding-inline: clamp(1rem, 4vw, 3rem);
}

.btn-custom {
  --color-hue: var(--hue-indigo);
  --_bg: linear-gradient(var(--color-5), var(--color-7));
  --_border: var(--color-6);
  --_text: var(--color-0);
  --_ink-shadow: 0 1px 0 var(--color-9);
  --_size: var(--font-size-3);

  & svg {
    fill: var(--text-1);
  }
}

.logo {
  --delay: 0.4s;
  display: flex;
  gap: var(--size-relative-2);
  align-items: center;
  font-size: var(--font-size-5);

  .icon {
    fill: white;
    inline-size: var(--size-relative-10);
  }

  .logo-text {
    display: flex;
    flex-direction: column;
    color: white;
    line-height: var(--font-lineheight-0);
    font-weight: var(--font-weight-7);
  }
}

main {
  position: relative;
  display: grid;
  place-content: center;
  padding-inline: var(--size-fluid-4);
  justify-items: center;
  background: var(--gradient-17);
  padding-block: var(--size-6);
}

section {
  display: grid;
  gap: var(--size-8);

  padding: var(--size-8);
  justify-items: center;

  & header {
    color: white;
    padding-inline: var(--size-3);
    text-align: center;
  }
}
