---
import '../styles/app.css';
import { Font } from 'astro:assets';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <Font cssVariable="--font-roboto" preload />
    <Font cssVariable="--font-material-symbols" preload />
  </head>
  <body>
    <slot />
  </body>
</html>
